<footer class="container footer">
  <!--Social Media Links-->

  <div class="row">
    <div class="col-lg-4 col-sm-12 dis-more">
      <p>
        <a class="d-m text-white" href="#">Discover More</a>
      </p>
      <p class="sm-acc-info">
        <span class="twi-text"
          ><a class="sm-links text-white" href="#">Twitter</a></span
        >
        <span class="med-text"
          ><u><a class="sm-links text-white" href="#">Medium</a></u></span
        >
        <span class="lin-text"
          ><u><a class="sm-links text-white" href="#">LinkedIn</a></u></span
        >
      </p>
    </div>
  </div>
  <p class="float-right">
    <a class="foot-mail text-white" href="#"
      >© 2020 Sarah Shaibu. All Rights Reserved</a
    >
  </p>
  <p class="foot-mail">
    <a class="foot-mail text-white" href="#">Say hello-snefisat@gmail.com</a>
  </p>
</footer>
