.sm-links{
    font-family: Brown;
    font-style: normal;
    font-weight: bold;
    font-size: calc(10px + 0.9vw);
    line-height: 122%;
    text-decoration: underline;
    padding-right: 30px;
    color: #E5E5E5;
  }
  
  .sm-links:hover{
    color: #CB4C5F;
  }
  
  @media screen {
  
  }
  .footer{
    font-family: Brown;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 122%;
    color: #E5E5E5;
  }
  
  .foot-mail{
    margin-top: 10px;
  }
  