<section class="bg-app-black" id="About-me">

  <div class="container">
    <app-navbar></app-navbar>

    <!--About Me Info-->

    <div class="row about-me-info">

      <div class="col-lg-12">
        <div class="about-me-text">
          <p class="about-me-1">Hello! My Name is Sarah Shaibu, designer by day, writer by <br> night :) I'm
            I’m an empathic designer/pm.</p>
          <p class="about-me-2">With a background in information technology and graphic design, i aim to bring
            an ever evolving human-centered design perspective and a creative problem-solving approach
            to products that delight and inspire humans.</p>
          <p class="view-r">
            <a class="view-r" href="#">View Resume</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Social Media Links-->

  <section id="social-media" class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 dis-more">
        <p>
          <a class="d-m" href="#">Discover More</a>
        </p>
        <p class="sm-acc-info">
          <span class="twi-text"><a class="sm-links" href="#">Twitter</a></span>
          <span
            class="med-text"><u><a class="sm-links" href="#">Medium</a></u></span>
          <span class="lin-text"><u><a
            class="sm-links" href="#">LinkedIn</a></u></span>
        </p>
      </div>
    </div>
  </section>

  <!-- Footer Section -->

  <div id="footer" class="container">
    <div class="row">
      <div class="col-md-6 col-md-12">
        <p class="mail">
          <a class="mail2" href="#">Say hello-snefisat@gmail.com</a>
        </p>
        <p class="copyright">© 2020 Sarah Shaibu. All Rights Reserved</p>
        <div style="clear: both"></div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <router-outlet></router-outlet>
</div>
