<section class="bg-app-black" id="About-me">

  <div class="container">
    <app-navbar></app-navbar>

    <!--About Me Info-->

    <div class="row about-me-info">

      <div class="col-lg-12">
        <div class="about-me-text">
          <p class="about-me-1">Hello! My Name is Sarah Shaibu, designer by day, writer by <br> night :) I'm
            I’m an empathic designer/pm.</p>
          <p class="about-me-2">With a background in information technology and graphic design, i aim to bring
            an ever evolving human-centered design perspective and a creative problem-solving approach
            to products that delight and inspire humans.</p>
          <p class="view-r">
            <a class="view-r" href="#">View Resume</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Section -->

  <app-footer></app-footer>
</section>

<div class="container">
  <router-outlet></router-outlet>
</div>
