.n-link-text{
  margin-right: 20px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

nav{
  padding: 2vw 0vw 2.5vw;
}

#about-link, #more-link{
  font-family: TT Norms Pro Medium;
  color: white;
  margin-left: 1.5vw;
}
