.maildrip-page{
  min-height: 100vh;
  background-color: #FFFFFF !important;

}

//Nav Bar

nav{
  padding: 2.5vw 0vw 8vw;
}

hr{
  width: 7.5rem;
  background-color: black;
  border: 1px solid black;
  opacity: 1;
}

#about-link, #more-link{
  color: black;
  margin-left: 1.5vw;
}

.mid-top1{
  margin-left: 4.2vw;
  font-family: TT Norms Pro sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 6vw;
  //line-height: 1.3vw;
}

.mid-top2{
  margin-left: 4.2vw;
  margin-top: 2.5vw;
}

.help-text{
  font-style: normal;
  font-weight: 500;
  font-size: 4.2857vw;
  width: 48vw;
}

.mid-top3{
  max-height: 2.678vw;
  border-left: 0.05952vw solid red;
  margin-left: 5.3vw;
  margin-top: 2.5vw;
  padding-right: 2vw;
}

.mid-top4{
  max-height: 2.678vw;
  border-left: 0.05952vw solid red;
  margin-top: 2.5vw;
  padding-right: 2vw;
}

.plat{
  margin-top: -12px;
}

.pl{
  padding-left: 0.3vw;
  font-family: Museo Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 0.8vw;
  line-height: 198%;
  height: 5px;
  color: #726E84;
}

.span-text{
  padding-left: 0.5vw;
  font-family: Brown;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1vw;
  line-height: 198%;
  color: #000000;
}

.empty-div{
  height: 13.1vw;
  width: 100vw;
  margin-top: 3.5vw;
  background-color: #C4C4C4;
}

.brief{
  margin-left: 4.2vw;
  margin-top: 5.5vw;

}

.brief-text{
  font-family: Brown;
  font-style: normal;
  font-weight: bold;
  font-size: 1.42vw;
  line-height: 24px;
  letter-spacing: -0.2408px;
  color: #000000;
}

.brief1{
  margin-top: 5.5vw;
}

.fender-text{
  width: 43.2vw;
  font-family: Brown;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 50px;
  letter-spacing: -0.2408px;
  color: #000000;
}

.launch-meet{
  margin-left: 23vw;
  margin-top: 2.4vw;
}

.l-m{
  font-family: Brown;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vw;
  line-height: 1.1vw;
  letter-spacing:  -0.01433vw;
  color: #000000;
}
