<main class="fender-page">
  <div class="container">
    <app-navbarblack></app-navbarblack>
    <!--Top Section-->
    <div class="row">
      <div class="col-lg-2 mid-top1">
        <h5 class="f-text">Fender</h5>
      </div>
      <div class="mid-top2">
        <h1 class="car-shop-text">No more waiting at Car Shops</h1>
      </div>
    </div>
    <div class="flex-plat-del">
      <div class="plat-del">
        <p class="plat">Platform:</p>
        <div class="span-text-div">
        <img src="assets/mphone.png" alt="mobile-phone" class="phone">
        <span class="span-text">Web & iOS</span>
        </div>
      </div>
      <div class="plat-del">
        <p class="plat">Deliverables:</p>
        <div class="span-text-div">
        <img src="assets/box.png" alt="box" class="box">
        <span class="span-text">UI, UX, Brand & Strategy</span>
        </div>
      </div>
    </div>
  </div>

  <!-- empty div -->

  <div class="container-fluid empty-div">
    <div class="fphone1">
      <img src="assets/fphone.png" alt="fender app on mobile phone" class="fphone-png">
    </div>
    <div class="fphone2">
      <img src="assets/f-phone.png" alt="payment page on fender mobile app" class="fphone-png2">
    </div>
  </div>

<!-- brief section -->

  <div class="container-fluid brief-text">
  <div class="btext">
  <p class="b-text"> The brief</p>
  </div>
  <div class="btext1">
      <p class="fender-text">Fender is an application that allows users access mechanics for repairs and schedule car
          maintenance services
          <br>
          This is advantageous to car owners because it brings the car repair business right at the place where their
          vehicles fail. The availability of a mobile mechanic enables car owners to save money. This also means they no
          longer have to spend time to bring their car into the shop for routine checks and tune up service.
        </p>
        <p class="fender-text">In Short, Fender helps customers get on with their daily schedules, while their cars are
          being checked and repaired.</p>
          <div class="lp-mc">
            <div class="l-p">
              <p class="l-pm">Launch project</p>
              <hr>
            </div>
            <div class="m-c">
              <p class="l-pm">Meet the Client</p>
              <hr>
            </div>
          </div>
  </div>
  </div>

  <!-- user research section -->

  <div class="container-fluid ur-div">
    <div class="user-img">
      <img src="assets/daposoftware.png" alt="group-pic" class="group-pic">
      <div class="arrow-p">
        <div class="arrow-p1">
          <img src="assets/Epic-Arrow%204.png" alt="arrow" class="epic-arrow">
          <span class="fp-text">Fender Persona</span>
        </div>
      </div>
    </div>
    <div class="user-research">
      <h5 class="ur-text">User Research</h5>
      <p class="ur-text1">The automotive industry has a high speed of demand. <br> The main goal of the study is enhancing the experience of
        repair and maintenance cars for consumers (car owner) and service providers (mechanics, auto shops).</p>
      <p class="ur-text2">After analyzing the market, consumers and their behavior i found valuable insights which helped discover the
        problems and figured out how to improve the pain points of the process.</p>
        <p class="ur-text2">In this phase, i used a combination of qualitative and quantitative research methods to identify the
          following:</p>
        <ul class="ur-text2 ur-text3">
          <li class="ur-text3">
            The needs that the solution should meet to be viable
          </li>
          <li>
            The goals which your users rely on your product to meet
          </li>
          <li>
            Competitor research.
          </li>
        </ul>
    </div>
  </div>

  <!-- persona findings section -->

  <div class="container persona-sec">
    <div class="persona-text">
      <p class="p-f">Persona Findings</p>
    </div>
    <div class="persona-img">
      <div class="p-img1">
        <img src="assets/persona1.png" alt="img" class="p1">
        <img src="assets/persona2.png" alt="img2" class="p1">
        <img src="assets/persona3.png" alt="img3" class="p1">
      </div>
    </div>
    <div class="persona-text2">
      <ul class="persona-ul">
        <li>
          Difficulty in having a routine check-up/maintenance due to insufficient funds or financial
            challenges.
        </li>
        <li>
          Most people have very busy days and don’t keep in mind the period to have a check-up until the car is
            faulty. The thoughts of having a routine check-up may come to mind but most people are too busy to create
            time to go to an auto mechanic workshop.
        </li>
        <li>
          <p>Some areas people stay are quite distant from a mechanic workshop which is a problem that some people
            look at before they eventually visit a mechanic workshop for car maintenance or not.</p>
        </li>
        <li>
          Some people especially young people don’t see the importance of a routine check-up until there’s a fault
            or damage to fix.
        </li>
        <li>For example, Dapo iyanda, a potential user above.</li>
      </ul>
    </div>
  </div>

<!-- journey map section -->

  <div class="container-fluid j-map">
    <div class="jmap-text">
      <p>Journey Map</p>
    </div>
    <div class="jmap-text1">
      <p>I extended the flow and defined all pain points during this process. Using a Journey Map
        helped discover more detailed interactions and highlighted the full picture of the maintenance process.</p>
    </div>
  </div>

<!-- christabel section -->

  <div class="container christ-sec">
      <div class="christ-img">
        <img src="assets/christabel.png" alt="christabel image" class="c-img">
        <div class="c-ntag">
          <p class="christabel">Christabel</p>
        </div>
      </div>
      <div class="scenario-div">
        <div class="stext-div">
          <p class="scenario">Scenario</p>
        </div>
        <div class="scenario-text">
          <p class="s-text">Christabel is going to the office, she has a big meeting and after work has to pick her kids up from
            school.</p>
        </div>
      </div>
      <div class="expectation-div">
        <div class="extext-div">
          <p class="expectation">Expectations</p>
        </div>
        <div class="expectation-text">
          <p class="e-text">Get to work on time without incident Pick up Kids early from school Getting home before dark</p>
        </div>
      </div>
  </div>

  <!-- user activity section -->

  <div class="container user-activity">
    <div class="ua-div">
      <p class="ua-text">User Activities</p>
    </div>
  </div>

  <!-- user activity flex container -->

  <div class="container-fluid user-activity-div">

    <!-- car issues -->

    <div class="user-abox">
      <div class="ua-small-div color-box1">
        <p class="car-issues">Car Issues <br> (Initial Phase)</p>
      </div>
      <div class="ua-large-div color-box1">
        <ul class="ul-l">
          <li>
            <p> -Tries to fix it herself</p>
          </li>
          <li>
            <p> -Finds Recommendation</p>
          </li>
          <li>
            <p> -Searches the Internet</p>
          </li>
          <li>
            <p> -Remembers to maintain car</p>
          </li>
          <li>
            <p> -Calls Familiar Mechanic</p>
          </li>
        </ul>
      </div>
    </div>

<!-- services found -->

    <div class="user-abox">
      <div class="ua-small-div color-box2">
        <p class="service-f">Services Found</p>
      </div>
      <div class="ua-large-div color-box2">
        <ul class="ul-l1">
          <li>
            <p> -Calls service provider</p>
          </li>
          <li>
            <p> -Describes Problem</p>
          </li>
          <li>
            <p> -Asks for price estimate duration of fix or maintenance</p>
          </li>
          <li>
            <p> -Arrange appointment</p>
          </li>
          <li>
            <p> -Remembers Appointment</p>
          </li>
          <li>
            <p> -Calls to reschedule or to guide service to location</p>
          </li>
        </ul>
      </div>
    </div>

    <!-- car maintainance/repairs -->

    <div class="user-abox">
      <div class="ua-small-div color-box3">
        <p class="car-main">Car Maintainance<br>/Repair</p>
      </div>
      <div class="ua-large-div color-box3">
        <ul class="ul-l2">
          <li>
            <p> -Arrives at garage service</p>
          </li>
          <li>
            <p> -Discusses problem</p>
          </li>
          <li>
            <p> -Makes Pre-payment</p>
          </li>
          <li>
            <p> -Leaves car for fix/ maintenance or waits</p>
          </li>
          <li>
            <p> -Picks up Car</p>
          </li>
        </ul>
      </div>
    </div>

<!-- payment -->

    <div class="user-abox">
      <div class="ua-small-div color-box4">
        <p class="payment">Payment</p>
      </div>
      <div class="ua-large-div color-box4">
        <ul class="ul-l3">
          <li>
            <p> -Checks the car</p>
          </li>
          <li>
            <p> -Discusses what was done</p>
          </li>
          <li>
            <p> -Pays the rest of the money</p>
          </li>
        </ul>
      </div>
    </div>

<!-- post phase -->

    <div class="user-abox">
      <div class="ua-small-div color-box5">
        <p class="post-p">Post Phase</p>
      </div>
      <div class="ua-large-div color-box5">
        <ul class="ul-l4">
          <li>
            <p> -Calls garage/ mechanic for details on repairs</p>
          </li>
          <li>
            <p> -Recommends to friends and family</p>
          </li>
          <li>
            <p> -Arrange new appointment</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- pain point -->

  <div class="container user-activity pain-point">
    <div class="ua-div">
      <p class="ua-text">Pain Points</p>
    </div>
  </div>

  <!-- pain point boxes -->

  <div class="container-fluid pain-point-box">
    <div class="pp-box">
      <div class="ua-large-div color-box1">
        <ul class="ul-l">
          <li>
            <p>Has no idea what to fix</p>
          </li>
          <li>
            <p>Not able to drive</p>
          </li>
          <li>
            <p>Knows what’s wrong but doesn’t have time or can’t fix it</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="pp-box">
      <div class="ua-large-div color-box2">
        <ul class="ul-l1">
          <li>
            <p>No near garage or mechanic</p>
          </li>
          <li>
            <p>No accurate price</p>
          </li>
          <li>
            <p>Hard to describe the problem</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="pp-box">
      <div class="ua-large-div2 color-box3">
        <ul class="ul-l2-2">
          <li>
            <p>Difficult to arrive in time. (especially during work hours)</p>
          </li>
          <li>
            <p>Unsure how much time maintenance/fix will take</p>
          </li>
          <li>
            <p>Not sure about suggested services</p>
          </li>
          <li>
            <p>Price varies and is too high Impersonal communication with mechanics</p>
          </li>
          <li>
            <p>Take out all personal items from the car</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="pp-box">
      <div class="ua-large-div color-box4">
        <ul class="ul-l3">
          <li>
            <p>Not sure everything was fixed or maintained</p>
          </li>
          <li>
            <p>Doesn’t get a breakdown for services</p>
          </li>
          <li>
            <p>No warranties</p>
          </li>
          <li>
            <p>Hidden Costs</p>
          </li>
          <li>
            <p>No ability to pay online</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="pp-box">
      <div class="ua-large-div color-box5">
        <ul class="ul-l4">
          <li>
            <p>Bad conditions after repairs/maintenance</p>
          </li>
          <li>
            <p>Forgot garage name or mechanic name for making next appointment</p>
          </li>
          <li>
            <p>No receipt (price breakdown of what was done)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Epic+stories section -->

  <div class="container-fluid epic-section">
    <div class="epic-section2">
      <div class="epic-stories">
        <div class="e-p">
          <h5 class="e-p1">Epic + Stories</h5>
        </div>
        <div class="m-vp">
          <p class="mvp">For the MVP, I had to breakdown to first principles what the core function of the app would be, and the
            features that would make all that possible. Firstly, I proceeded to attempt defining primary epics for the
            personas earlier specified.</p>
        </div>
        <div class="m-vp1">
          <p class="mvp">These guided me in ascertaining what the individual features would be by way of smaller user stories that
            essentially helped me map out multiple user journeys from discovery to action. The guiding principle in all
            this was imagining how my targeted users should feel after each experience — informed, at ease and ultimately,
            satisfied. To this end, I opted to focus on an overall design direction that would push this through.</p>
        </div>
        <div class="design-p">
          <h5 class="design-p1 e-p1">Design Principles</h5>
        </div>
        <div class="fun-simple">
          <p class="mvp">Fun and Simple, to delight the user and keep the tedious tasks light. Personable/Human, so each persona could
            relate; Curated, or to have the feel of a personalized service; Lifestyle/Consumer-driven, anchored on or
            influenced by the actions and needs of the consumers.</p>
        </div>
      </div>
  
      <!-- user epic card -->

        <div class="epic-card-container">
          <div class="epic-card container">
              <h5 class="u-epic">User Epic</h5>
              <p class="u-epic-text">As a user, Dapo would like to know the cost of car 
                maintenance services so he can plan for it.
              </p>
              <p class="u-epic-text">As a user, Belema would like to meet a trusted provider
                at a desired location, home or office.
              </p>
              <p class="u-epic-text">As a user, Christabel would like live updates on the status
                of her car repair or maintenance.
              </p>
              <p class="u-epic-text">As a user, Christabel would like live updates on the status
                of her car repair or maintenance.
              </p>
              <p class="u-epic-text">As a user, Dapo would like to rate the service he recieved
              </p>
              <p class="u-epic-text">As a user, Christabel would like to have an idea 
                of what is wrong with her car through a knowledge base system
              </p>
              <p class="u-epic-text">As a user, Dapo would like to schedule 
                for car maintenace ahead of time.
              </p>
          </div>
          <div class="ep-arrow">
            <div class="ep-arrow1">
              <img src="assets/Epic-Arrow%204.png" alt="arrow" class="epic-arrow">
              <span class="epic-arrow-text">Some user epics and stories generated during research</span>
            </div>
          </div>
        </div>
    </div>
  </div>

  <!-- wireframes + Flowmap section -->

  <div class="wireframes container-fluid">
    <div class="wireframe-text">
      <h5 class="wireframe-heading">Wireframes + Flowmap</h5>
      <p class="wf-text">In Figma i made sketches and wireframes of different configurations to iterate layout changes, simultaneously
        getting immediate feedback from friends that somewhat fit the defined personas. When I was relatively
        satisfied, I mapped out user flow diagrams.
      </p>
    </div>
  </div>

  <!-- wire frame image -->

  <div class="wireframe-img">
    <div class="wf-img-container1 wfimg">
      <img src="assets/wireframe-1.png" alt="wireframe image" class="wireframe-img-png">
    </div>
    <div class="wf-img-container2 wfimg">
      <img src="assets/wireframe-2.png" alt="wireframe image" class="wireframe-img-png">
    </div>
    <div class="wf-img-container3 wfimg">
      <div class="wf-container">
        <img src="assets/wireframe3.png" alt="wireframe image" class="wireframe-img-png">
      </div>
      <div class="wireframe-arrowtext">
        <img src="assets/Epic-Arrow%204.png" alt="arrow" class="wireframe-arrow">
        <span class="wireframe-text">Some of the wireframes done on Figma</span>
      </div>
    </div>
  </div>

  <!-- guide logo & fender-spanner section -->

  <div class="container-fluid guide-section">
    <div class="guide-item">
      <h5 class="g-text">Guide</h5>
      <h5 class="logo-text"> Logo Usage</h5>
      <img src="assets/logobox.png" alt="suqare boxes" class="logo-box">
    </div>
    <div class="fender-badge">
        <img src="assets/fenderspanner.png" alt="spanner" class="fender-spanner">
    </div>
  </div>

  <!-- design system section -->

  <div class="container ds-parent-div">
    <div class="ds-container-item">
      <p class="ds-text">Design System</p>
    </div>
    <div class="ds-container-item2">
      <p class="ds-text2">I love building design systems that grow with my clients. I created reusable components for Fender to make
        future scaling simple.</p>
    </div>
  </div>
  <div class="container typography-div">
    <div class="typo-text-item">
      <h5 class="typo-h5">Typography</h5>
    </div>
  </div>
  <div class="container museo-div">
    <div class="museo-container-item">
      <p class="museo-text">Museo Sans 500</p>
      <p class="museo-text1">A B C D E F G H I J K L M N O P Q R S T 
        U V W X Y Z 0 1 2 3 4 5 6 7 8 9 * #
      </p>
      <div class="primary-color">
        <p class="color-text">Primary Colors</p>
        <img src="assets/primarycolor.png" alt="primary colors" class="img-colors">
      </div>
    </div>
    <div class="museo-container-item">
      <p class="museo-text">Museo Sans 700</p>
      <p class="museo-text2">A B C D E F G H I J K L M N O P Q R S T 
        U V W X Y Z 0 1 2 3 4 5 6 7 8 9 * #
      </p>
      <div class="secondary-color">
        <p class="color-text">Secondary Colors</p>
        <img src="assets/seccolor.png" alt="secondary colors" class="img-colors">
      </div>
    </div>
  </div>
  <div class="horizontal-rule">
    <div class="hr-1">
      <hr class="h-rule">
    </div>
  </div>

  <!-- illustration & icon -->

  <div class="container illustration-div">
    <div class="ill-div">
      <h5 class="ill-text">Illustrations</h5>
      <img src="assets/ill-img.png" alt="happy people illustration" class="ill-img">
    </div>
    <div class="icons-div">
      <h5 class="icon-text">Icons</h5>
      <img src="assets/icon-img.png" alt="sysmbols" class="icon-img">
    </div>
  </div>

  <!-- components section -->

  <div class="container-fluid component-div">
      <div class="comp-text-div">
        <div class="comp-text1">
          <h5 class="comp-text">Components</h5>
        </div>
        <img src="assets/components-car.png" alt="car illustration" class="comp-cars">
      </div>
        <div class="comp-img-car">
          <img src="assets/card-img.png" alt="forms illustration" class="comp-2">
        </div>
        <div class="comp-img-cards">
          <img src="assets/components-location.png" alt="service center illustration" class="comp-3">
        </div>
  </div>
  <div class="background-image-section">
    <!-- <div class="pro-phone1">
      <img src="assets/prophone1.png" alt="phone illustration" class="pphone-1">
    </div>
    <div class="pro-phone2">
      <img src="assets/prophone2.png" alt="phone illustration" class="pphone-2">
    </div>
    <div class="pro-phone3">
      <img src="assets/prophone3.png" alt="phone illustration" class="pphone-3">
    </div>
    <div class="pro-phone4">
      <img src="assets/prophone4.png" alt="phone illustration" class="pphone-4">
    </div>
    <div class="pro-phone5">
      <img src="assets/prophone5.png" alt="phone illustration" class="pphone-5">
    </div> -->
  </div>

  <!-- performance section -->

  <div class="container performance-container">
    <div class="pi-flex-container">
      <div class="pi-flex-item">
        <h5 class="performance-text">Performance Indicators</h5>
      </div>
      <div class="pi-flex-item2">
        <p class="performance-text2">Fender launched its MVP with new brand identity with ease, and more importantly, their target user loved it.
          Conversions from Physical Car Maintenance to the Fender App increased by 9%, resulting in an 11% revenue
          increase.</p>
      </div>
    </div>
  </div>

  <!-- conclusion section -->

  <div class="container c-flex-container">
    <div class="c-flex-item">
      <div class="c-text">
        <h5 class="conclusion-text">In Conclusion</h5>
      </div>
      <div class="c-text-container">
        <p class="conclusion-text2">I’ve continued to conduct usability tests with potential users using a native prototype built using Flutter.
          While the feedback has been quite encouraging and instructive so far, to improve on the scale of testing and
          obtain even more inclusive results, I’m considering using Hoolio.app to gain accss to more real users and
          useful tools. I’m using my findings to further iterate upon the design, and keep making the product better.
          The possibilities are endless</p>
      </div>
    </div>
  </div>

  <!-- astronaut gif/final thought section -->

  <div class="container final-flex-container">
    <div class="a-flex-item">
      <img src="assets/astronaut.gif" alt="astronaut illustration" class="astronaut">
    </div>
      <div class="f-flex-item">
        <div class="f-thought-div">
          <h5 class="f-thought-text">Final Thoughts</h5>
        </div>
        <p class="f-thought-text2">Going through this whole process of user-centered design further convinced me on the need to design digital
          products with the user in mind at all stages and phases, especially when venturing into relatively new fields
          that do not have as much data available to glean from. It was interesting gathering information using
          different methods. I’m also doing preliminary work on a web dashboard to allow administrative management on
          the platform, as well as give valuable insights to stakeholders. This is only the begining of the journey.
        </p>
      </div>
  </div>

  <!-- footer section -->

  <div class="container discover-container">
    <div class="row">
      <div class="col-lg-4">
        <p class="discover-text">Discover More</p>
        <div class="social-media-acc">
          <span class="twi-text"><a class="sm-links" href="#">Twitter</a></span>
          <span
            class="med-text"><u><a class="sm-links" href="#">Medium</a></u></span>
          <span class="lin-text"><u><a
            class="sm-links" href="#">LinkedIn</a></u></span>
        </div>
        <p class="sarah-mail">Say hello-snefisat@gmail.com</p>
      </div>
    </div>
  </div>
  <footer class="container footer5">
    <div class="row">
      <div class="col-lg-6 sm">
        <p class="p-cright">&copy;2020 Sarah Shaibu. All Rights Reserved</p>
      </div>
    </div>
  </footer>
</main>
