<main class="fender-page">
  <div class="container">
    <app-navbarblack></app-navbarblack>


    <!--    Mid Top Section-->

    <div class="row">
      <div class="col-lg-2 mid-top1">
        <h5>Fender</h5>
      </div>
      <div class="mid-top2">
        <h1 class="car-shop-text">No more waiting at Car Shops</h1>
      </div>
    </div>
    <div class="row">
      <div class=" mid-top3 col-lg-3 col-md-3 col-sm-12">
        <div class="plat">
          <p class="pl">Platforms:</p>
          <img src="assets/mphone.png" alt="mobile-phone" class="phone">
          <span class="span-text">Web & iOS</span>
        </div>
      </div>
      <div class="mid-top4 col-lg-3 col-md-3 col-sm-12">
        <div class="plat">
          <p class="pl">Deliverables:</p>
          <img src="assets/box.png" alt="box" class="box">
          <span class="span-text">UI, UX, Brand & Strategy</span>
        </div>
      </div>
    </div>
  </div>
<!--  <div class="container row iphone">-->
<!--    <div class="col-lg-6 iphone1">-->
<!--      <img src="assets/twinphone.png" alt="i-phone" class="i-phone3 ipone1">-->
<!--    </div>-->
<!--    &lt;!&ndash;    <div class="i-phone-2 col-lg-6">&ndash;&gt;-->
<!--    &lt;!&ndash;      <img src="assets/iphone7.png" alt="i-phone" class="iphone33 ipone2">&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  </div>-->
  <div class="container-fluid row empty-div">
    <div class="container row iphone">
      <div class="col-lg-6 iphone1">
        <img src="assets/twinphone.png" alt="i-phone" class="i-phone1">
      </div>
      <!--    <div class="i-phone-2 col-lg-6">-->
      <!--      <img src="assets/iphone7.png" alt="i-phone" class="iphone33 ipone2">-->
      <!--    </div>-->
    </div>
  </div>
  <div class="container brief-section">
    <div class="row">
      <div class="col-lg-3 col-md-6 brief">
        <p class="brief-text">The brief</p>
      </div>
      <div class="col-lg-6 col-md-6 brief1">
        <p class="fender-text">Fender is an application that allows users access mechanics for repairs and schedule car
          maintenance services
          <br>
          This is advantageous to car owners because it brings the car repair business right at the place where their
          vehicles fail. The availability of a mobile mechanic enables car owners to save money. This also means they no
          longer have to spend time to bring their car into the shop for routine checks and tune up services
        </p>
        <p class="fender-text">In Short, Fender helps customers get on with their daily schedules, while their cars are
          being checked and repaired.</p>
      </div>
    </div>
    <div class="row launch-meet">
      <div class="col-lg-3 col-md-6">
        <p class="l-m">Launch project</p>
        <hr>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="l-m">Meet the Client</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="container-fluid user-r">
    <div class="row user-r1">
      <div class="col-lg-6 user-r2">
        <img src="assets/daposoftware.png" alt="group-pic" class="group-pic">
<!--        <p class="f-p">Fender Personas</p>-->
        <div class="row f-p">
          <div class="col-lg-1">
            <img src="assets/Epic-Arrow%204.png" alt="arrow">
          </div>
          <div class="col-lg-8">
            <p>Fender Persona</p>
          </div>
      </div>
        </div>
      <div class="col-lg-6 user-r4">
        <h5 class="ur">User Research</h5>
        <p class="ur-text1">The automotive industry has a high speed of demand. <br> The main goal of the study is enhancing the experience of
          repair and maintenance cars for consumers (car owner) and service providers (mechanics, auto shops).</p>
        <p class="ur-text3">After analyzing the market, consumers and their behavior i found valuable insights which helped discover the
          problems and figured out how to improve the pain points of the process.</p>
          <p class="ur-text4">In this phase, i used a combination of qualitative and quantitative research methods to identify the
            following:</p>
          <ul class="ur-text5 ur-text6">
            <li>
              The needs that the solution should meet to be viable
            </li>
            <li>
              The goals which your users rely on your product to meet
            </li>
            <li>
              Competitor research.
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="container persona-section">
    <div class="row">
      <div class="col-lg-5 col-md-6 persona">
        <p class="persona-text">Persona Findings</p>
      </div>
      <div class="col-lg-6 col-md-6 persona1">
        <img src="assets/personagroup.png" alt="persona-sign" class="persona-img">
      </div>
    </div>
    <div class="row persona-ul">
      <div class="col-lg-12">
        <ul class="persona-ul2">
          <li>
            Difficulty in having a routine check-up/maintenance due to insufficient funds or financial
              challenges.
          </li>
          <li>
            Most people have very busy days and don’t keep in mind the period to have a check-up until the car is
              faulty. The thoughts of having a routine check-up may come to mind but most people are too busy to create
              time to go to an auto mechanic workshop.
          </li>
          <li>
            <p>Some areas people stay are quite distant from a mechanic workshop which is a problem that some people
              look at before they eventually visit a mechanic workshop for car maintenance or not.</p>
          </li>
          <li>
            Some people especially young people don’t see the importance of a routine check-up until there’s a fault
              or damage to fix.
          </li>
          <p>
            For example, Dapo iyanda, a potential user above.
          </p>
        </ul>
      </div>
    </div>
  </div>
  <div class="container j-section">
    <div class="row">
      <div class="col-lg-3 col-md-6 j-map1">
        <p class="journey-text">Journey Map</p>
      </div>
      <div class="col-lg-6 col-md-6 j-map-text">
        <p class="j-text">I extended the flow and defined all pain points during this process. Using a Journey Map
          helped discover more detailed interactions and highlighted the full picture of the maintenance process.</p>
      </div>
    </div>
  </div>
  <div class="container chris-img">
    <div class="row">
      <div class="col-lg-4 col-md-4 chris-img1">
        <img src="assets/christabel33.png" alt="chris-img" class="c-img">
        <p class="activity-text">User Activities</p>
      </div>
      <div class="col-lg-4 col-md-3 scenario-box">
        <img src="assets/scenario.png" alt="tab" class="scen-img">
        <p class="activity-text1">Christabel is going to the office, she has a big meeting and after work has to pick her kids up from
          school.</p>
      </div>
      <div class="col-lg-4 col-md-3 expectations-box">
        <img src="assets/expectations.png" alt="tab" class="exp-img">
        <p class="activity-text1">Get to work on time without incident Pick up Kids early from school Getting home before dark</p>
      </div>
    </div>
  </div>
  <div class="container-fluid div-sec">
      <div class="ua-box">
        <div class="ua-box-x ua-box1-1">
          <p class="car-i">Car Issues <br> (Initial Phase)</p>
        </div>
        <div class="ua-box2 ua-box1-1">
          <ul class="ul-l">
            <li>
              <p> -Tries to fix it herself</p>
            </li>
            <li>
              <p> -Finds Recommendation</p>
            </li>
            <li>
              <p> -Searches the Internet</p>
            </li>
            <li>
              <p> -Remembers to maintain car</p>
            </li>
            <li>
              <p> -Calls Familiar Mechanic</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="ua-box">
        <div class="ua-box-x ua-box1-2">
          <p class="sf">Services Found</p>
        </div>
        <div class="ua-box2 ua-box1-2">
          <ul class="ul-l1">
            <li>
              <p> -Calls service provider</p>
            </li>
            <li>
              <p> -Describes Problem</p>
            </li>
            <li>
              <p> -Asks for price estimate duration of fix or maintenance</p>
            </li>
            <li>
              <p> -Arrange appointment</p>
            </li>
            <li>
              <p> -Remembers Appointment</p>
            </li>
            <li>
              <p> -Calls to reschedule or to guide service to location</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="ua-box">
        <div class="ua-box-x ua-box1-3">
          <p class="cm-r">Car Maintenance<br>/Repair</p>
        </div>
        <div class="ua-box2 ua-box1-3">
          <ul class="ul-l2">
            <li>
              <p> -Arrives at garage service</p>
            </li>
            <li>
              <p> -Discusses problem</p>
            </li>
            <li>
              <p> -Makes Pre-payment</p>
            </li>
            <li>
              <p> -Leaves car for fix/ maintenance or waits</p>
            </li>
            <li>
              <p> -Picks up Car</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="ua-box">
        <div class="ua-box-x ua-box1-4">
          <p class="p">Payment</p>
        </div>
        <div class="ua-box2 ua-box1-4">
          <ul class="ul-l3">
            <li>
              <p> -Checks the car</p>
            </li>
            <li>
              <p> -Discusses what was done</p>
            </li>
            <li>
              <p> -Pays the rest of the money</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="ua-box">
        <div class="ua-box-x22 ua--">
          <p class="p-p">Post Phase</p>
        </div>
        <div class="ua-box2 ua-box1-5">
          <ul class="ul-l4">
            <li>
              <p> -Calls garage/ mechanic for details on repairs</p>
            </li>
            <li>
              <p> -Recommends to friends and family</p>
            </li>
            <li>
              <p> -Arrange new appointment</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="container p-section">
    <div class="row">
      <div class="pain-p col-lg-12">
        <p class="pa-p">Pain Points</p>
      </div>
    </div>
  </div>
  <div class="container-fluid pp-box1">
      <div class="pp-box">
        <div class="ua-box2 ua-box1-1">
          <ul class="ul-l">
            <li>
              <p>Has no idea what to fix</p>
            </li>
            <li>
              <p>Not able to drive</p>
            </li>
            <li>
              <p>Knows what’s wrong but doesn’t have time or can’t fix it</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="pp-box">
        <div class="ua-box2 ua-box1-2">
          <ul class="ul-l1">
            <li>
              <p>No near garage or mechanic</p>
            </li>
            <li>
              <p>No accurate price</p>
            </li>
            <li>
              <p>Hard to describe the problem</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="pp-box">
        <div class="ua-box2-1 ua-box1-3">
          <ul class="ul-l2-2">
            <li>
              <p>Difficult to arrive in time. (especially during work hours)</p>
            </li>
            <li>
              <p>Unsure how much time maintenance/fix will take</p>
            </li>
            <li>
              <p>Not sure about suggested services</p>
            </li>
            <li>
              <p>Price varies and is too high Impersonal communication with mechanics</p>
            </li>
            <li>
              <p>Take out all personal items from the car</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="pp-box">
        <div class="ua-box2 ua-box1-4">
          <ul class="ul-l3">
            <li>
              <p>Not sure everything was fixed or maintained</p>
            </li>
            <li>
              <p>Doesn’t get a breakdown for services</p>
            </li>
            <li>
              <p>No warranties</p>
            </li>
            <li>
              <p>Hidden Costs</p>
            </li>
            <li>
              <p>No ability to pay online</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="pp-box">
        <div class="ua-box2 ua-box1-5">
          <ul class="ul-l4">
            <li>
              <p>Bad conditions after repairs/maintenance</p>
            </li>
            <li>
              <p>Forgot garage name or mechanic name for making next appointment</p>
            </li>
            <li>
              <p>No receipt (price breakdown of what was done)</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div class="container-fluid c-fluid">
    <div class="row epic">
      <div class="col-lg-6">
        <h5 class="ep-s">Epic + Stories</h5>
        <p class="mvp1">For the MVP, I had to breakdown to first principles what the core function of the app would be, and the
          features that would make all that possible. Firstly, I proceeded to attempt defining primary epics for the
          personas earlier specified.</p>
        <p class="mvp2">These guided me in ascertaining what the individual features would be by way of smaller user stories that
          essentially helped me map out multiple user journeys from discovery to action. The guiding principle in all
          this was imagining how my targeted users should feel after each experience — informed, at ease and ultimately,
          satisfied. To this end, I opted to focus on an overall design direction that would push this through.</p>
        <h5 class="d-p">Design Principles</h5>
        <p class="mvp3">Fun and Simple, to delight the user and keep the tedious tasks light. Personable/Human, so each persona could
          relate; Curated, or to have the feel of a personalized service; Lifestyle/Consumer-driven, anchored on or
          influenced by the actions and needs of the consumers.</p>
      </div>
      <div class="col-lg-6">
        <img src="assets/writeupimg.png" alt="epic image illustration" class="epic-img">
        <div class="row">
          <div class="col-lg-1">
            <img src="assets/Epic-Arrow%204.png" alt="arrow">
          </div>
          <div class="col-lg-8">
            <p>Some user epics and stories generated during research</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row wire-f">
      <div class="col-lg-8 wire-ff">
        <h5 class="wire-f1">Wireframes + Flowmap</h5>
        <p class="wfp">In Figma i made sketches and wireframes of different configurations to iterate layout changes, simultaneously
          getting immediate feedback from friends that somewhat fit the defined personas. When I was relatively
          satisfied, I mapped out user flow diagrams.</p>
      </div>
    </div>
  </div>
  <div class="container wire-img">
    <div class="row wire-img2">
      <div class="col-lg-4">
        <img src="assets/wireframe-1.png" alt="wireframe" class="wireframe">
      </div>
      <div class="col-lg-4">
        <img src="assets/wireframe-2.png" alt="wireframe" class="wireframe">
      </div>
      <div class="col-lg-4">
        <img src="assets/wireframe3.png" alt="wireframe" class="wireframe">
        <div class="row">
          <div class="col-lg-1">
            <img src="assets/Epic-Arrow%204.png" alt="arrow" class="arrow-f">
          </div>
          <div class="col-lg-6">
            <p class="wireframes">some of the wireframes done on Figma</p>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="container-fluid guide-sec">
    <div class="row guide-sec1">
      <div class="col-lg-6 guide1">
        <h5 class="h5-guide">Guide</h5>
        <h5 class="h5-lu">Logo Usage</h5>
        <img src="assets/logobox.png" alt="logo-box" class="logo-box">
      </div>
      <div class="col-lg-6 f-logo">
        <img src="assets/fenderspanner.png" alt="fender" class="fender-logo">
      </div>
    </div>
  </div>
  <div class="container ds-cont">
    <div class="row">
      <div class="col-lg-3">
        <p class="ds-div">Design Systems</p>
      </div>
      <div class="col-lg-6">
        <p class="ds-div2">I love building design systems that grow with my clients. I created reusable components for Fender to make
          future scaling simple.</p>
      </div>
    </div>
  </div>
  <div class="container typo-cont">
    <div class="row">
      <div class="col-lg-12">
        <h5 class="h5-typo">Typography</h5>
      </div>
    </div>
  </div>
  <div class="container ms-cont">
    <div class="row">
      <div class="col-lg-6">
        <p class="p-ms">Museo Sans 500</p>
      </div>
      <div class="col-lg-6">
        <p class="p-ms">Museo Sans 700</p>
      </div>
    </div>
  </div>
  <div class="container az-cont">
    <div class="row">
      <div class="col-lg-6">
        <p class="az-p">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z 0 1 2 3 4 5 6 7 8 9 * #</p>
      </div>
      <div class="col-lg-6">
        <p class="az-p2">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z 0 1 2 3 4 5 6 7 8 9 * #</p>
      </div>
    </div>
  </div>
  <div class="container color-cont">
    <div class="row">
      <div class="col-lg-6">
        <p class="c-c">Primary Colors</p>
        <img src="assets/primarycolor.png" alt="primary colors" class="img-colors">
      </div>
      <div class="col-lg-6">
        <p class="c-c">Secondary Colors</p>
        <img src="assets/seccolor.png" alt="secondary colors" class="img-colors">
      </div>
    </div>
  </div>
  <div class="container hr">
    <div class="row">
      <div class="col-lg-12">
        <hr class="h-r">
      </div>
    </div>
  </div>
  <div class="container ii-cont">
    <div class="row">
      <div class="col-lg-6">
        <p class="ii-p">Illustration</p>
        <img src="assets/ill-img.png" alt="happy people illustration" class="ill-img">
      </div>
      <div class="col-lg-6">
        <p class="ii-p">Icons</p>
        <img src="assets/icon-img.png" alt="icon sysmbols" class="icon-s">
      </div>
    </div>
  </div>
<!--  <div class="container-fluid">-->

<!--  </div>-->
  <div class="container-fluid component-cont">
    <div class="comp-cont2">
      <div class="row">
        <div class="col-lg-12 comp1">
          <h5 class="h5-comp">Components</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <img src="assets/components-car.png" alt="car illustration" class="comp-cars">
        </div>
        <div class="col-lg-4 forms-ill">
          <img src="assets/card-img.png" alt="forms illustration" class="comp-2">
        </div>
        <div class="col-lg-4">
          <img src="assets/components-location.png" alt="service center illustration" class="comp-3">
        </div>
      </div>
    </div>
    </div>
  <div class="container-fluid prototype-sec">
    <div class="row">
      <div class="col-lg-4">
        <img src="assets/gphone1.png" alt="phone illustration" class="pphone-1">
      </div>
      <!--      <div class="col-lg-3">-->
      <!--        <img src="assets/prophone2.png" alt="phone illustration" class="pphone-2">-->
      <!--      </div>-->
      <div class="col-lg-2">
        <img src="assets/prophone3.png" alt="phone illustration" class="pphone-3">
      </div>
      <div class="col-lg-3">
        <img src="assets/prophone4.png" alt="phone illustration" class="pphone-4">
      </div>
      <div class="col-lg-1">
        <img src="assets/prophone5.png" alt="phone illustration" class="pphone-5">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <a class="">View Full Prototype</a>
      </div>
    </div>
  </div>
  <div class="container perf-cont">
    <div class="row">
      <div class="col-lg-3">
        <h5 class="h5-perfi">Performance Indicators</h5>
      </div>
      <div class="col-lg-6">
        <p class="p-fl">Fender launched its MVP with new brand identity with ease, and more importantly, their target user loved it.
          Conversions from Physical Car Maintenance to the Fender App increased by 9%, resulting in an 11% revenue
          increase.</p>
      </div>
    </div>
  </div>
  <div class="container In-cont">
    <div class="row">
      <div class="col-lg-3">
        <h5 class="h5-ic">In Conclusion</h5>
      </div>
    </div>
  </div>
  <div class="container ive-cont">
    <div class="row">
      <div class="col-lg-4">
        <p class="p-ive">I’ve continued to conduct usability tests with potential users using a native prototype built using Flutter.
          While the feedback has been quite encouraging and instructive so far, to improve on the scale of testing and
          obtain even more inclusive results, I’m considering using Hoolio.app to gain accss to more real users and
          useful tools. I’m using my findings to further iterate upon the design, and keep making the product better.
          The possibilities are endless</p>
      </div>
    </div>
  </div>
  <div class="container ft-cont">
    <div class="row">
      <div class="col-lg-6">
        <img src="assets/astronaut.gif" alt="astronaut illustration" class="astronaut">
      </div>
      <div class="col-lg-6">
        <h5 class="h5-ft">Final Thoughts</h5>
        <p class="p-gth">Going through this whole process of user-centered design further convinced me on the need to design digital
          products with the user in mind at all stages and phases, especially when venturing into relatively new fields
          that do not have as much data available to glean from. It was interesting gathering information using
          different methods. I’m also doing preliminary work on a web dashboard to allow administrative management on
          the platform, as well as give valuable insights to stakeholders. This is only the begining of the journey.</p>
      </div>
    </div>
  </div>
  <div class="container dis-cont">
    <div class="row">
      <div class="col-lg-4">
        <p class="p-dis">Discover More</p>
        <p class="p-acc">
          <span class="twi-text"><a class="sm-links" href="#">Twitter</a></span>
          <span
            class="med-text"><u><a class="sm-links" href="#">Medium</a></u></span>
          <span class="lin-text"><u><a
            class="sm-links" href="#">LinkedIn</a></u></span>
        </p>
        <p class="p-mail">Say hello-snefisat@gmail.com</p>
      </div>
    </div>
  </div>
  <footer class="container footer5">
    <div class="row">
      <div class="col-lg-6 sm">
        <p class="p-cright">©2020 Sarah Shaibu. All Rights Reserved</p>
      </div>
    </div>
  </footer>
</main>
