<section class="iq-page" xmlns="http://www.w3.org/1999/html">

  <div class="container">
    <app-navbarblack></app-navbarblack>

    <!--    Mid Top Section-->

    <div class="row">
      <div class="col-lg-2 mid-top1">
        <h5>ayuda</h5>
      </div>
      <div class="mid-top2">
        <h1 class="help-text">Help desk and customer relationship management</h1>
      </div>
    </div>
    <div class="row">
      <div class=" mid-top3 col-lg-3 col-md-3 col-sm-12">
        <div class="plat">
          <p class="pl">Platforms:</p>
          <img src="assets/mphone.png" alt="mobile-phone" class="phone"><span class="span-text">Web & iOS</span>
        </div>
      </div>
      <div class="mid-top4 col-lg-3 col-md-3 col-sm-12">
        <div class="plat">
          <p class="pl">Deliverables:</p>
          <img src="assets/box.png" alt="box" class="box"><span class="span-text">UI, UX, Brand & Strategy</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid empty-div">

  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 brief">
        <p class="brief-text">The brief</p>
      </div>
      <div class="col-lg-6 col-md-6 brief1">
        <p class="fender-text">Fender is an application that allows users access mechanics for repairs and schedule car maintenance services <br>This is advantageous to car owners because it brings the car repair business right at the place where their vehicles fail. The availability of a mobile mechanic enables car owners to save money. This also means they no longer have to spend time to bring their car into the shop for routine checks and tune up services</p>
        <p class="fender-text">In Short, Fender helps customers get on with their daily schedules, while their cars are being checked and repaired.</p>
      </div>
    </div>
    <div class="row launch-meet">
      <div class="col-lg-3 col-md-6">
        <p class="l-m">Launch project</p>
        <hr>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="l-m">Meet the Client</p>
        <hr>
      </div>
    </div>
  </div>
</section>

