<div class="bg-app-black" id="Home-page">
  <div class="container pt-3">
    <app-navbar></app-navbar>
    <!--Feature-->

    <div class="row job-f pt-4">
      <div>
        <p class="feature">FEATURED</p>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        <ul class="ul-bp">
          <li>
            <p>
              <a class="job-f-list" href="#" routerLink="fender">fender</a>
            </p>
          </li>
          <li>
            <p>
              <a class="job-f-list" href="#" routerLink="maildrip">mailDrip</a>
            </p>
          </li>
          <li>
            <p>
              <a class="job-f-list" href="#" routerLink="rubyNav">rubyNav</a>
            </p>
          </li>
          <li>
            <p>
              <a class="job-f-list" href="#" routerLink="slate">slate</a>
            </p>
          </li>
          <li>
            <p>
              <a class="job-f-list" href="#" routerLink="iq">iq central</a>
            </p>
          </li>
          <li>
            <p>
              <a class="job-f-list" href="#" routerLink="sprinkbok"
                >sprinkbok</a
              >
            </p>
          </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 c-lady">
        <div class="c-lady1">
          <img
            class="img-fluid"
            src="assets/animation_500_kd6n51q7.gif"
            alt="coffee-lady"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Footer Section -->
  <app-footer></app-footer>
</div>

<!--<div class="container">-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->
