<div class="maildrip-page">
  <div class="container">
    <app-navbarblack></app-navbarblack>


    <!--Top Section-->

    <div class="row">
      <div class="col-lg-2 mid-top1">
        <h5>maildrip</h5>
      </div>
      <div class="mid-top2">
        <h1 class="timely-text">Timely automated emails that connect with audiences</h1>
      </div>
    </div>
    <div class="flex-plat-del">
      <div class="plat-del">
        <p class="plat">Platform:</p>
        <div class="span-text-div">
        <img src="assets/mphone.png" alt="mobile-phone" class="phone">
        <span class="span-text">Web & iOS</span>
        </div>
      </div>
      <div class="plat-del">
        <p class="plat">Deliverables:</p>
        <div class="span-text-div">
        <img src="assets/box.png" alt="box" class="box">
        <span class="span-text">UI, UX, Brand & Strategy</span>
        </div>
      </div>
    </div>
  </div>
<!-- maildrip empty div -->

<div class="container-fluid maildrip-empty-div">
  <div class="maildrip-flex-item">
    <img src="assets/maildrip.png" alt="maildrip landing page image" class="m-drip">
  </div>
</div>

<!-- brief section -->

<div class="container-fluid brief-text">
  <div class="btext">
  <p class="b-text"> The brief</p>
  </div>
  <div class="btext-flex-item1">
      <p class="maildrip-text">Maildrip is a email marketing tool targeted to allow small business owners and lead
        generators send automated drip campaigns to their target user bases.
        </p>
        <p class="maildrip-text">Maildrip is looking to improve the experience for these personas with their audiences
          and the ease of use in conducting drip campaigns for the everyday enterpreneur.</p>
          <p class="maildrip-text">The parent comapny, Charisol wanted to redesign, refresh and rethink the user
            experience of the tool.</p>
          <div class="lp-mc">
            <div class="l-p">
              <p class="l-pm">Launch project</p>
              <hr>
            </div>
            <div class="m-c">
              <p class="l-pm">Meet the Client</p>
              <hr>
            </div>
          </div>
  </div>
  </div>

  <!-- stakeholders interview -->

  <div class="container-fluid s-flex-container">
      <div class="s-flex-item">
        <p class="s-text"><b>Stakeholder Interview</b></p>
      </div>
      <div class="s-flex-item">
        <p class="s-text1">The project owner was interviewed, and here are the meeting notes. This provided information about the
          business.</p>
        <p class="s-text1 s-text2"><b>Yewande Akerele,</b>Product Owner of MailDrip</p>
      </div>
  </div>

  <!-- hypothesis area A -->

  <div class="container h-flex-container-a">
        <div class="h-inner-flex-item">
          <h6 class="hypothesis-text"><b>Hypothesis</b></h6>
        <p class="hypothesis-text2">Small business owners, Lead Generators want an easy way to keep in touch with their customers.</p>
        </div>
        <div class="h-inner-flex-item1">
          <h6 class="hypothesis-text"><strong>Competitors</strong></h6>
          <ul class="hypo-thes">
            <li>Constant Contact</li>
            <li>MailChimp</li>
            <li>Mailer Lite</li>
          </ul>
        </div>
  </div>

  <!-- hypothesis area B -->

  <div class="container h-flex-container-b">
    <div class="h-flex-item2">
      <h6 class="hypothesis-text"><b>Problems</b></h6>
      <p class="process-text">The process can be clunky and confusing.</p>
        <p class="process-text">There are a lot of competitors so we need to stay competitive in our value offering.</p>
        <p class="process-text">Users feel the tool is impersonal and not tailored to their immediate needs.</p>
    </div>
  </div>

  <!-- goals area -->

  <div class="container-fluid g-flex-container">
      <div class="g-flex-item">
        <h5 class="g-text">Goals</h5>
      </div>
      <div class="g-flex-item">
        <h5 class="goal-par1"><strong>What should this project accomplish for the business?</strong></h5>
        <p class="goal-par">Through improving the experience for our main user roles (admin and basic), we’d like to see an increase in
          user retention and also the number of campaigns sent.</p>
        <div class="goal-text1">
          <h5 class="goal-par1"><strong>How will you, personally, define success for this project?</strong></h5>
          <p class="goal-par">These are the success metrics:</p>
          <p class="goal-par">Increase the first-month retention by 20%</p>
          <p class="goal-par">Increase daily active users by 10%</p>
          <p class="goal-par">Increase campaigns sent by 20%</p>
        </div>
      </div>
  </div>

  <!-- user persona area -->

    <div class="container-fluid user-flex-container">
        <div class="user-flex-item">
          <p class="user-p-text"><strong>User Persona</strong></p>
        </div>
        <div class="user-flex-item">
          <p class="user-text">I needed to define a powerful user persona to guide my decisions when designing this application. The
            company had conducted research that gave lots on insight into my workflow</p>
        </div>
    </div>

    <!-- Bio area -->

      <div class="container bio-flex-container">
        <div class="row">
          <div class="col-lg-4">
            <img src="assets/prolady.png" alt="professional lady" class="pro-lady">
          </div>
          <div class="col-lg-8 bio-text-container">
            <div class="bio-text">
              <p>Bio</p>
              <p>Faith Omebije is the owner of her personal merchandise brand. She is a generous and determined lady. She
                started her brand having discovered how to utilise dropshipping techniques. She wants to provide
                merchandise to her community and create job oppourtunies from her business.</p>
              <p>She’s a single lady who manages a team of 9 people working under her. She has been in this business for
                three years and wants to grow her business all over the country. Having a lot of competitors and less team
                members as a small business owner she would like to grow her business with less effort and
                expenditure.</p>
            </div>
            <div class="row">
              <div class="col-lg-6 bio-text bio-text1">
                <p>Goals</p>
                <p>Increase Merchandise Sales Increase Customer Loyalty Personalized Relationship with Customers Utilize
                  email marketing tools to grow her brand presence and conversion rate </p>
              </div>
              <div class="col-lg-6 bio-text bio-text2">
                <p>Frustration</p>
                <p>Many users dont see offers or re purchase items Cant interact with many users A lot of competitors
                  Doesn’t have time for a complicated email marketing tool </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- story board area -->

      <div class="container story-flex-container">
          <div class="story-flex-item">
            <p class="story-text"><strong>Storyboard</strong></p>
          </div>
          <div class="story-flex-item">
            <p class="story-text1">Storyboards were drafted for major epics in the application to give a holistic understanding of the users
              journey</p>
          </div>
      </div>

      <!-- image cards area -->

      <div class="container work-img-flex-container">
          <div class="img-card-flex-item">
            <img src="assets/gp-img1.png" alt="group image" class="gp-img1">
            <p class="w-img-text1">Faith comes to her office and greets her team members</p>
          </div>
          <div class="img-card-flex-item">
            <img src="assets/gp-img2.png" alt="group image" class="gp-img1">
            <p class="w-img-text2">She plans a meeting with the sales team to run a Email’Ad Drip Campaign </p>
          </div>
          <div class="img-card-flex-item">
            <img src="assets/gp-img3.png" alt="group image" class="gp-img1">
            <p class="w-img-text3">They researched and found Maildrip a better option and easy to use</p>
          </div>
          <div class="img-card-flex-item">
            <img src="assets/gp-img4.png" alt="group image" class="gp-img1">
            <p class="w-img-text4">Her team brainstorms content ideas while faith signs up on Maildrip</p>
          </div>
      </div>
      <div class="container work-img-flex-container1">
          <div class="img-card-flex-item">
            <img src="assets/gp-img5.png" alt="group image" class="gp-img1">
            <p class="w-img-text5">She signs up easily and in a few clicks sets her campaign content</p>
          </div>
          <div class="img-card-flex-item">
            <img src="assets/gp-img6.png" alt="group image" class="gp-img1">
            <p class="w-img-text6">She easily adds and imports recipients that her marketing team have given her</p>
          </div>
          <div class="img-card-flex-item">
            <img src="assets/gp-img7.png" alt="group image" class="gp-img1">
            <p class="w-img-text7">Shes at the final confirmation page of the review of the campaign and schedules it to run a week
              later</p>
          </div>
          <div class="img-card-flex-item">
            <img src="assets/gpimg-8.png" alt="group image" class="gp-img1">
            <p class="w-img-text8">Faith and her team are happy with the conversions they have gotten through their drip campaign</p>
          </div>
      </div>

      <!-- epic stories area -->

      <div class="container-fluid epic-section">
          <div class="epic-stories">
            <div class="e-p">
              <h5 class="e-p1">Epic + Stories</h5>
            </div>
            <div class="m-vp">
              <p class="mvp">To help lay the building blocks for my initial design, I needed to 
                brainstorm many possible scenarios of what Faith would potentially need from a solution. 
                Brainstorming was helpful to generate lots of ideas. However, I needed to get organized, so I clustered stories into epics.
              </p>
            </div>
            <div class="m-vp1">
              <p class="mvp">These guided me in ascertaining what the individual features would be by way of smaller user stories 
                that essentially helped me map out multiple user journeys from discovery to action.
              </p>
            </div>
            <div class="design-p">
              <h5 class="design-p1 e-p1">Design Principles</h5>
            </div>
            <div class="fun-simple">
              <p class="mvp">Simple Flows, to retain the primary persona. Minimal so the content of the customer actions could stand out with a focus on completing actions that give huge impacts. 
                I created sketches and made stakeholder iterations on mid fidelity
                prototypes
              </p>
            </div>
          </div>
      
          <!-- user epic card -->
    
            <div class="epic-card-container">
              <div class="epic-card container">
                  <h5 class="u-epic">User Epic</h5>
                  <p class="u-epic-text">When I LOGIN I want to see an overview of the system actions. 
                    I want to see a summary of the actions I have taken before
                  </p>
                  <p class="u-epic-text"> As a user, I want to put targeted emails addresses or 
                    import subscribers from a file so that they can receive my campaign emails.
                  </p>
                  <p class="u-epic-text"> As a  user I want to send sample test emails to myself and someone else so that 
                    I can see how it looks and make changes before sending to subscribers.
                  </p>
                  <p class="u-epic-text">As a user, I want to see my active subscribers and 
                    unsubscribers to evaluate my marketing strategy.
                  </p>
                  <p class="u-epic-text">-As a logged in user, I want to see what campaigns 
                    I have created in ascending order so that I track what campaigns/marketing strategyI have enacted in my business.
                  </p>
                  <p class="u-epic-text ue-text">As a User, I want to view my active, 
                    paused, stopped and finished campaigns and how they performed.
                  </p>
              </div>
              <div class="ep-arrow">
                <div class="ep-arrow1">
                  <img src="assets/Epic-Arrow%204.png" alt="arrow" class="epic-arrow">
                  <span class="epic-arrow-text">Some user epics and stories generated during research</span>
                </div>
              </div>
            </div>
      </div>

      <!-- high level flows area -->

        <div class="container high-flex-container">
          <div class="high-flex-item">
            <h5 class="high-text"><strong>High Level Flows</strong></h5>
            <p class="create-text">Create Campaign</p>
          </div>
        </div>

        <div class="container camp-flex-container">
          <div class="camp-flex-item">
            <img src="assets/camp.png" alt="campaign image" class="camp-img">
          </div>
        </div>

      <div class="container cf">
        <div class="cf3">
          <div id="cf">
            <img class="bottom" src="assets/md-cf2.png" alt="maildrip cross fade">
            <img class="top" src="assets/md-cf1.png" alt="maildrip cross fade">
          </div>
        </div>
      </div>
      <div class="container work-flex-container">
          <div class="work-flex-item">
            <h5 class="on-text"><b>User Onboarding</b></h5>
            <p class="work-text">Users can see an overview so of the actions they have taken before as well as access menus</p>
          </div>
          <div class="work-flex-item">
            <h5 class="campaign-text"><b>Campaign Module</b></h5>
            <p class="work-text">Users can create a campaign in three easy steps with no need to leave the module to access new
              actions</p>
          </div>
          <div class="work-flex-item">
            <h5 class="setting-text"><b>User Setting</b></h5>
            <p class="work-text">The client can utilize the information collected from user setting to improve user experience</p>
          </div>
          <div class="work-flex-item f-r1">          
            <div class="fr-card">
            <h5 class="fr-text" style="color: white;">Final Results</h5>
            <p class="fr-text1" style="color: white;">The app is minimally designed with clear actions and steps to make creating
              campaigns simple and easy</p>
          </div>
        </div>
      </div>
      
      <!-- design system area -->

      <div class="container ds-flex-container">
        <div class="ds-flex-item">
          <p class="ds-text"><strong>Design System</strong></p>
        </div>
        <div class="ds-flex-item">
          <p class="ds-text1">I love building design systems that grow with my clients. 
            I created reusable components for Maildrip to make future scaling simple.
          </p>
        </div>
    </div>

    <!-- typography area -->

    <div class="container typography-div">
      <div class="typo-text-item">
        <h5 class="typo-h5">Typography</h5>
      </div>
    </div>
    <div class="container museo-div">
      <div class="museo-container-item">
        <p class="museo-text">Brown</p>
        <p class="museo-text1">A B C D E F G H I J K L M N O P Q R S T 
          U V W X Y Z 0 1 2 3 4 5 6 7 8 9 * #
        </p>
        <div class="primary-color">
          <p class="color-text">Primary Colors</p>
          <img src="assets/prim-c.png" alt="primary colors" class="img-colors">
        </div>
      </div>
      <div class="museo-container-item">
        <p class="museo-text">Museo Sans 700</p>
        <p class="museo-text2">A B C D E F G H I J K L M N O P Q R S T 
          U V W X Y Z 0 1 2 3 4 5 6 7 8 9 * #
        </p>
        <div class="secondary-color">
          <p class="color-text">Secondary Colors</p>
          <img src="assets/sec-c.png" alt="secondary colors" class="img-colors">
        </div>
      </div>
    </div>
    <div class="horizontal-rule">
      <div class="hr-1">
        <hr class="h-rule">
      </div>
    </div>
  
    <!-- illustration & icon -->
  
    <div class="container illustration-div">
      <div class="ill-div">
        <h5 class="ill-text">Illustrations</h5>
        <img src="assets/ill-imgg.png" alt="happy people illustration" class="ill-img">
      </div>
      <div class="icons-div">
        <h5 class="icon-text">Icons</h5>
        <img src="assets/iconn.png" alt="sysmbols" class="icon-img">
      </div>
    </div>
  
    <!-- components section -->
  
    <div class="container-fluid component-div">
      <div class="comp-text-div">
        <div class="comp-text1">
          <h5 class="comp-text">Components</h5>
        </div>
        <img src="assets/comp-imggg.png" alt="car illustration" class="comp-image0">
      </div>
    </div>

    <!-- tablet section -->

    <div class="background-image-section">
      <!-- <div class="camp-tab">
        <img src="assets/create-camp-tab.png" alt="phone illustration" class="pphone-1">
      </div>
      <div class="camp-tab">
        <img src="assets/create-camp-tab2.png" alt="phone illustration" class="pphone-2">
      </div> -->
    </div>

    <!-- user test & prototype testing -->

    <div class="container ut-flex-container">
      <div class="ut-flex-item">
        <p class="ut-text"><strong>User Testing</strong></p>
      </div>
      <div class="ut-flex-item">
        <p class="ut-text1">During the interviews with different users, I took down some points to be taken into consideration. I
          created a discussion guide to aid my user testing
        </p>
        <a class="vd-link" href="#">View discussion guide</a>
      </div>
  </div>
  <div class="container pt-flex-container">
    <div class="pt-flex-item">
      <p class="pt-text"><strong>Prototype Testing</strong></p>
    </div>
    <div class="pt-flex-item">
      <p class="pt-text1">I tested the prototype with 5 different users that fit the target persona and took notes to improve my
        design iterations
      </p>
    </div>
</div>

<!-- analysis & changes -->

<div class="container-fluid analysis-container">
  <div class="a-c-flex-container">
    <div class="a-flex-item">
      <p class="a-text"><strong>Analysis</strong></p>
    </div>
    <div class="a-flex-item">
      <p class="a-text1">All the participants loved the UI and found it easy to create a campaign<br>
        Grouping the recipients’ mail into different categories makes it easy to keep the data for future use.
        Users feel the tool is more tailored for their needs.
      </p>
    </div>
  </div>
  <div class="a-c-flex-container1">
    <div class="a-flex-item">
      <p class="a-text"><strong>Changes</strong></p>
    </div>
    <div class="a-flex-item">
      <p class="a-text1">Participants where confused with the adding of
         recipients to a campaign side modal action
      </p>
      <p class="a-text1">Participants on the ‘Review Campaign Page’ 
        they gave feedback on the end that the UI is not looking balanced.
      </p>
    </div>
  </div>
</div>

<!-- conclusion section -->

<div class="container c-flex-container">
  <div class="c-flex-item">
    <div class="c-text">
      <h5 class="conclusion-text">Testing Summary</h5>
    </div>
    <div class="c-text-container">
      <p class="conclusion-text2">I interviewed almost 5 people to gain some data for the MailDrip Prototype. Some of the points are well and some are frustrating to them. Also, they gave their valuable feedback in the end. 
        I noted down their frustrations and will have to iterate my prototype according to the data collected and conduct further tests
      </p>
    </div>
  </div>
</div>

<!-- astronaut gif/final thought section -->

<div class="container final-flex-container">
  <div class="a-flex-item">
    <img src="assets/searchlight-desktop.gif" alt="astronaut illustration" class="desktop">
  </div>
    <div class="f-flex-item">
      <div class="f-thought-div">
        <h5 class="f-thought-text">Project Summary</h5>
      </div>
      <p class="f-thought-text2">I learned a lot of things from this project. 
        From analyzing the problem to making it into a working design with the solutions. 
        I plan to partner with the client to conduct further testing and building features out as the data suggests.
      </p>
    </div>
</div>

<!-- footer section -->

<div class="container discover-container">
  <div class="row">
    <div class="col-lg-4">
      <p class="discover-text">Discover More</p>
      <div class="social-media-acc">
        <span class="twi-text"><a class="sm-links" href="#">Twitter</a></span>
        <span
          class="med-text"><u><a class="sm-links" href="#">Medium</a></u></span>
        <span class="lin-text"><u><a
          class="sm-links" href="#">LinkedIn</a></u></span>
      </div>
      <p class="sarah-mail">Say hello-snefisat@gmail.com</p>
    </div>
  </div>
</div>
<footer class="container footer5">
  <div class="row">
    <div class="col-lg-6 sm">
      <p class="p-cright">&copy;2020 Sarah Shaibu. All Rights Reserved</p>
    </div>
  </div>
</footer>
</div>
