<div class="maildrip-page">
  <div class="container">
    <app-navbarblack></app-navbarblack>


    <!--    Mid Top Section-->

    <div class="row">
      <div class="col-lg-2 mid-top1">
        <h5>maildrip</h5>
      </div>
      <div class="mid-top2">
        <h1 class="car-shop-text">Timely automated emails that connect with audiences</h1>
      </div>
    </div>
    <div class="row">
      <div class=" mid-top3 col-lg-3 col-md-3 col-sm-12">
        <div class="plat">
          <p class="pl">Platforms:</p>
          <img src="assets/mphone.png" alt="mobile-phone" class="phone">
          <span class="span-text">Web</span>
        </div>
      </div>
      <div class="mid-top4 col-lg-3 col-md-3 col-sm-12">
        <div class="plat">
          <p class="pl">Deliverables:</p>
          <img src="assets/box.png" alt="box" class="box">
          <span class="span-text">UI, UX, Brand & Strategy</span>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid row iphone">
    <div class="col-lg-12 iphone1">
      <img src="assets/maildrip11.png" alt="i-phone" class="i-phone3 ipone1" style="width:100%; height: auto;">
    </div>
  </div>
  <div class="container-fluid empty-div">
  </div>
  <div class="container brief-section">
    <div class="row">
      <div class="col-lg-3 col-md-6 brief">
        <p class="brief-text">The brief</p>
      </div>
      <div class="col-lg-6 col-md-6 brief1">
        <p class="mail-drip-text">Maildrip is a email marketing tool targeted to allow small business owners and lead
          generators send automated drip campaigns to their target user bases.</p>
        <p class="mail-drip-text1">Maildrip is looking to improve the experience for these personas with their audiences
          and the ease of use in conducting drip campaigns for the everyday enterpreneur.</p>
        <p class="mail-drip-text2">The parent comapny, Charisol wanted to redesign, refresh and rethink the user
          experience of the tool.</p>
      </div>
    </div>
    <div class="row launch-meet">
      <div class="col-lg-3 col-md-6">
        <p class="l-m">Launch project</p>
        <hr>
      </div>
      <div class="col-lg-3 col-md-6">
        <p class="l-m">Meet the Client</p>
        <hr>
      </div>
    </div>
  </div>
  <div class="container-fluid u-r">
    <div class="row drip-text">
      <div class="col-lg-2 u-r1">
        <p>Stakeholder Interview</p>
      </div>
      <div class="col-lg-6">
        <p>The project owner was interviewed, and here are the meeting notes. This provided information about the
          business.</p>
        <p>Yewande Akerele, Product Owner of MailDrip</p>
      </div>
    </div>
  </div>
  <div class="container hypothesis-section">
    <div class="row">
      <div class="col-lg-3 col-md-6 hypo-thes">
        <h6 class="persona-text">Hypothesis</h6>
        <p>Small business owners, Lead Generators want an easy way to keep in touch with their customers.</p>
      </div>
      <div class="col-lg-3 col-md-6 hypo-thes1">
        <h6>Competitors</h6>
        <ul class="hypo-thes2">
          <li>Constant Contact</li>
          <li>MailChimp</li>
          <li>Mailer Lite</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 hypo-thes3">
        <h6 class="persona-text">Problems</h6>
        <p>The process can be clunky and confusing.
          <br>
          There are a lot of competitors so we need to stay competitive in our value offering.
          <br>
          Users feel the tool is impersonal and not tailored to their immediate needs.
        </p>
      </div>
    </div>
  </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <h5>Goals</h5>
        </div>
        <div class="col-lg-6">
          <h5>What should this project accomplish for the business?</h5>
          <p>Through improving the experience for our main user roles (admin and basic), we’d like to see an increase in
            user retention and also the number of campaigns sent.</p>
          <div class="goal-text1">
            <h5>How will you, personally, define success for this project?</h5>
            <p>These are the success metrics:</p>
            <p>Increase the first-month retention by 20%</p>
            <p>Increase daily active users by 10%</p>
            <p>Increase campaigns sent by 20%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <p>User Persona</p>
        </div>
        <div class="col-lg-6">
          <p>I needed to define a powerful user persona to guide my decisions when designing this application. The
            company had conducted research that gave lots on insight into my workflow</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <img src="assets/prolady.png" alt="professional lady" class="pro-lady">
        </div>
        <div class="col-lg-8">
          <div class="bio-text">
            <p>Bio</p>
            <p>Faith Omebije is the owner of her personal merchandise brand. She is a generous and determined lady. She
              started her brand having discovered how to utilise dropshipping techniques. She wants to provide
              merchandise to her community and create job oppourtunies from her business.</p>
            <p>She’s a single lady who manages a team of 9 people working under her. She has been in this business for
              three years and wants to grow her business all over the country. Having a lot of competitors and less team
              members as a small business owner she would like to grow her business with less effort and
              expenditure.</p>
          </div>
          <div class="row">
            <div class="col-lg-6 bio-text">
              <p>Goals</p>
              <p>Increase Merchandise Sales Increase Customer Loyalty Personalized Relationship with Customers Utilize
                email marketing tools to grow her brand presence and conversion rate </p>
            </div>
            <div class="col-lg-6 bio-text">
              <p>Frustration</p>
              <p>Many users dont see offers or re purchase items Cant interact with many users A lot of competitors
                Doesn’t have time for a complicated email marketing tool </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <p>Storyboard</p>
          </div>
          <div class="col-lg-6">
            <p>Storyboards were drafted for major epics in the application to give a holistic understanding of the users
              journey</p>
          </div>
        </div>
      </div>
      <div class="container work-img">
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/gp-img1.png" alt="group image" class="gp-img1">
            <p>Faith comes to her office and greets her team members</p>
          </div>
          <div class="col-lg-3">
            <img src="assets/gp-img2.png" alt="group image" class="gp-img1">
            <p>She plans a meeting with the sales team to run a Email’Ad Drip Campaign </p>
          </div>
          <div class="col-lg-3">
            <img src="assets/gp-img3.png" alt="group image" class="gp-img1">
            <p>They researched and found Maildrip a better option and easy to use</p>
          </div>
          <div class="col-lg-3">
            <img src="assets/gp-img4.png" alt="group image" class="gp-img1">
            <p>Her team brainstorms content ideas while faith signs up on Maildrip</p>
          </div>
        </div>
      </div>
      <div class="container work-img1">
        <div class="row">
          <div class="col-lg-3">
            <img src="assets/gp-img5.png" alt="group image" class="gp-img1">
            <p>She signs up easily and in a few clicks sets her campaign content</p>
          </div>
          <div class="col-lg-3">
            <img src="assets/gp-img6.png" alt="group image" class="gp-img1">
            <p>She easily adds and imports recipients that her marketing team have given her</p>
          </div>
          <div class="col-lg-3">
            <img src="assets/gp-img7.png" alt="group image" class="gp-img1">
            <p>Shes at the final confirmation page of the review of the campaign and schedules it to run a week
              later</p>
          </div>
          <div class="col-lg-3">
            <img src="assets/gpimg-8.png" alt="group image" class="gp-img1">
            <p>Faith and her team are happy with the conversions they have gotten through their drip campaign</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <h5>Epic + Stories</h5>
            <p>For the MVP, I had to breakdown to first principles what the core function of the app would be, and the
              features that would make all that possible. Firstly, I proceeded to attempt defining primary epics for the
              personas earlier specified.</p>
            <p>These guided me in ascertaining what the individual features would be by way of smaller user stories that
              essentially helped me map out multiple user journeys from discovery to action. The guiding principle in
              all
              this was imagining how my targeted users should feel after each experience — informed, at ease and
              ultimately,
              satisfied. To this end, I opted to focus on an overall design direction that would push this through.</p>
            <h5>Design Principles</h5>
            <p>Fun and Simple, to delight the user and keep the tedious tasks light. Personable/Human, so each persona
              could
              relate; Curated, or to have the feel of a personalized service; Lifestyle/Consumer-driven, anchored on or
              influenced by the actions and needs of the consumers.</p>
          </div>
          <div class="col-lg-6">
            <img src="assets/Epic.png" alt="epic image illustration" class="epic-img">
            <p>Some user epics and stories generated during research</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <h5>High Level Flows</h5>
            <p>Create Campaign</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/camp-img.png" alt="campaign image" class="camp-img">
          </div>
          <div class="col-lg-6">
            <img src="assets/camp-img2.png" alt="campaign image" class="camp-img">
          </div>
        </div>
      </div>
      <div class="container cf">
        <div class="cf3">
          <div id="cf">
            <img class="bottom" src="assets/md-cf2.png" alt="maildrip cross fade"/>
            <img class="top" src="assets/md-cf1.png" alt="maildrip cross fade"/>
          </div>
        </div>
      </div>
      <div class="container work-img1">
        <div class="row">
          <div class="col-lg-3">
            <h5>User Onboarding</h5>
            <p>Users can see an overview so of the actions they have taken before as well as access menus</p>
          </div>
          <div class="col-lg-3">
            <h5>Campaign Module</h5>
            <p>Users can create a campaign in three easy steps with no need to leave the module to access new
              actions</p>
          </div>
          <div class="col-lg-3">
            <h5>User Setting</h5>
            <p>The client can utilize the information collected from user setting to improve user experience</p>
          </div>
          <div class="col-lg-3" style="background-color: #273DF2; width: 272px; height: 270px;">
            <h5 style="color: white;">Final Results</h5>
            <p style="color: white;">The app is minimally designed with clear actions and steps to make creating
              campaigns simple and easy</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <p>Design System</p>
          </div>
          <div class="col-lg-6">
            <p>I love building design systems that grow with my clients. I created reusable components for Fender to
              make
              future scaling simple.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h5>Typography</h5>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h5>Museo Sans 500</h5>
          </div>
          <div class="col-lg-6">
            <h5>Museo Sans 700</h5>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z 0 1 2 3 4 5 6 7 8 9 * #</p>
          </div>
          <div class="col-lg-6">
            <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z 0 1 2 3 4 5 6 7 8 9 * #</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>Primary Colors</p>
            <img src="assets/prim-c.png" alt="primary colors" class="p-colors">
          </div>
          <div class="col-lg-6">
            <p>Secondary Colors</p>
            <img src="assets/sec-c.png" alt="secondary colors" class="s-colors">
          </div>
        </div>
      </div>
      <div class="container hr">
        <div class="row">
          <div class="col-lg-12">
            <hr class="h-r">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>Illustration</p>
            <img src="assets/ill-imgg.png" alt="happy people illustration" class="ill-img">
          </div>
          <div class="col-lg-6">
            <p>Icons</p>
            <img src="assets/iconn.png" alt="icon symbols" class="icon-s">
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h5>Components</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <img src="assets/comp-imggg.png" alt="search bar" class="comp-search">
          </div>
        </div>
      </div>
      <div class="container-fluid tab-section" style="background-color: #22186C;">
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/create-camp-tab.png" alt="phone illustration" class="pphone-1">
          </div>
          <div class="col-lg-6">
            <img src="assets/create-camp-tab2.png" alt="phone illustration" class="pphone-2">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <p>User Testing</p>
          </div>
          <div class="col-lg-6">
            <p>During the interviews with different users, I took down some points to be taken into consideration. I
              created a discussion guide to aid my user testing</p>
            <a class="vd-link" href="#">View discussion guide</a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-2">
            <p>Prototype Testing</p>
          </div>
          <div class="col-lg-6">
            <p>I tested the prototype with 5 different users that fit the target persona and took notes to improve my
              design iterations</p>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-2">
            <p>Analysis</p>
          </div>
          <div class="col-lg-6">
            <p>All the participants loved the UI and found it easy to create a campaign Grouping the recipients’ mail
              into different categories makes it easy to keep the data for future use. Users feel the tool is more
              tailored for their needs.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <p>Changes</p>
          </div>
          <div class="col-lg-6">
            <p>Participants where confused with the adding of recipients to a campaign side modal action</p>
            <p>Participants on the ‘Review Campaign Page’ they gave feedback on the end that the UI is not looking
              balanced.</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h5>Testing Summary</h5>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <p>I interviewed almost 5 people to gain some data for the MailDrip Prototype. Some of the points are well
              and some are frustrating to them. Also, they gave their valuable feedback in the end. I noted down their
              frustrations and will have to iterate my prototype according to the data collected and conduct further
              tests</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img src="assets/searchlight-desktop.gif" alt="desktop illustration" class="s-desktop">
          </div>
          <div class="col-lg-6">
            <h5>Project Summary</h5>
            <p>I learned a lot of things from this project. From analyzing the problem to making it into a working
              design with the solutions. I plan to partner with the client to conduct further testing and building
              features out as the data suggests.</p>
          </div>
        </div>
      </div>
      <div class="container dis-more">
        <div class="row">
          <div class="col-lg-4 dm">
            <p>Discover More</p>
            <p class="sm-acc-info">
              <span class="twi-text"><a class="sm-links" href="#">Twitter</a></span>
              <span
                class="med-text"><u><a class="sm-links" href="#">Medium</a></u></span>
              <span class="lin-text"><u><a
                class="sm-links" href="#">LinkedIn</a></u></span>
            </p>
            <p class="mail">Say hello-snefisat@gmail.com</p>
          </div>
        </div>
      </div>
      <footer class="container footer5">
        <div class="row">
          <div class="col-lg-6 sm">
            <p>©2020 Sarah Shaibu. All Rights Reserved</p>
          </div>
        </div>
      </footer>
    </div>
</div>
